<app-divider> Table Component </app-divider>

<app-table
   classNames="celled striped"
   [data]="data"
   [headers]="headers"
></app-table>

<div class="ui hidden divider"></div>
<app-divider> Table Menu </app-divider>

<app-tabs>
   <!-- prettier-ignore -->
   <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="item">Biography</a>
   <!-- prettier-ignore -->
   <a routerLink="companies" routerLinkActive="active" class="item">Companies</a>
   <!-- prettier-ignore -->
   <a routerLink="partners" routerLinkActive="active" class="item">Partners</a>
</app-tabs>

<!-- 
las rutas sin pto ni / son relativas a la actual, IGUAL q con pto y slash

routerLink="companies"
igual q
routerLink="./companies"

-- con puro slash son absolutas 
routerLink="companies"
igual q
routerLink="/collections/companies "

-->

<!-- 
   
   <app-divider>Table Component</app-divider>
   
   <app-table
   [data]="data"
   [headers]="headers"
   classNames="striped celled"
   ></app-table>
   
   <!--  -->

<div class="ui hidden divider"></div>
<app-divider>Tabs</app-divider>

<!-- grid en semantic-ui es de 16 -->
<div class="ui grid">
   <!-- col de 4 (de 16) -->
   <div class="four wide column">
      <!-- <div class="ui vertical fluid pointing menu"> -->
      <div class="ui vertical fluid tabular menu">
         <!-- prettier-ignore -->
         <a
            routerLink="./"  -----------   sin punto me llevaria al home ( localhost:4200 ) 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="item"
            >Biography</a
         >

         <a routerLink="companies" routerLinkActive="active" class="item"
            >Companies</a
         >

         <a routerLink="partners" routerLinkActive="active" class="item"
            >Partners</a
         >
      </div>
   </div>

   <!-- col de 12 (de 16) -->
   <div class="twelve wide stretched column">
      <div class="ui segment">
         <router-outlet></router-outlet>
      </div>
   </div>
</div>

-->
